#loginbox {
  margin-top: 200px;
  margin-bottom: 225px; }

#form > div {
  margin-bottom: 25px; }

#form > div:last-child {
  margin-top: 10px;
  margin-bottom: 10px; }

.panel {
  background-color: transparent; }

.panel-body {
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.3); }

body {
  background-image: url("/images/signup_backgroundV2.jpg"); }
