//
  File:  Fete/app_server/views/sign-up.jade
  Joel Cruz, UMass Lowell Computer Science, jcruz@student.uml.edu
  Copyright (c) 2016 by Joel Cruz.  All rights reserved.  
  May be freely copied or excerpted for educational purposes with credit to the author.
  updated by JC on April 1, 2016


extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
