extend layout

block append head 
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='/stylesheets/signup.css')
  script(src='/javascripts/auto_scroll.js')

block content
  header.intro#intro(style='margin-top:50px;')
    .intro-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.brand-heading Fete
            p.intro-text
              | The place to search for all the parties
              br
              | Publicly or Privatly           
            a.btn.btn-circle.page-scroll(href='#about')
              i.glyphicon.glyphicon-chevron-down
  section#about.container.text-center
    .row
      .col-lg-8.col-lg-offset-2
        h2 About Fete
        p
          | Have you ever been out on a weekend night and wondered if there was a party going on? It's a hassle to ask around and find out. Our site will eliminate the need to ask, and will bring the parties’ locations to you. 
        p
          | Fete, which means celebration, festival or party  is a web application that will inform users of upcoming events/parties. Fete will seamlessly integrate our web application with our Android/IOS mobile application to give the user the same experience on both devices. 
        p
          | Fete was created using the MEAN stack ( (M)ondodb, (E)xpress, (A)ngular.js, and  (N)ode.js).
        a.btn.btn-circle-black.page-scroll(href='#team')
              i.glyphicon.glyphicon-chevron-down
  section#team.text-center
    .team
      .container
        h2 The Team
        .col-lg-6  
          img.img-cirlce(src='/images/male_model.jpeg')
          h2 Joel Cruz
          p
            |Front End
        .col-lg-6
          img.img-cirlce(src='/images/backend_donkey.jpg')
          h2 Z'heondre Calcano
          p
            |Back End
        a.btn.btn-circle.page-scroll(href='#join')
              i.glyphicon.glyphicon-chevron-down
   section#join.text-center
    .join
      .container
        h2 Join Fete Today
        #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
          .panel.panel-default
            .panel-heading
              .panel-title.text-center #{panelTitle}
            .panel-body
              form#form.form-horizontal(name='form', enctype='multipart/form-data', method='POST')
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  input#user.form-control(type='text', name='user', value='', placeholder='UserNane')
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-envelope
                  input#email.form-control(type='email', name='email', placeholder='name@example.com')
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-lock
                  input#password.form-control(type='password', name='comfirmPassword', placeholder='Confirm Password')
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-lock
                  input#password.form-control(type='password', name='password', placeholder='Password')
                .form-group
                  .col-md-8.controls
                    button.btn.btn-primary.pull-right(type='submit', href='#')
                      i.glyphicon.glyphicon-log-in
                      |  SignUp
                  .col-md-8
                    a(href='/login') Or Login
      a.btn.btn-circle-black.page-scroll(href='#contact')
        i.glyphicon.glyphicon-chevron-down    
  section#contact.container.text-center
    .row
      .col-lg-8.col-lg-offset-2
        h2 Contact
        p
          | Feel free to email us to provide some feedback on our design, give us suggestions for new templates and themes, or to just say hello!
        ul.list-inline.banner-social-buttons
          li
            a.btn.btn-default.btn-lg(href='https://twitter.com/SBootstrap')
              i.fa.fa-twitter.fa-fw
              span.network-name Twitter
          li
            a.btn.btn-default.btn-lg(href='https://github.com/joel24478/New_Fete')
              i.fa.fa-github.fa-fw
              span.network-name Github
          li
            a.btn.btn-default.btn-lg(href='https://plus.google.com/+Startbootstrap/posts')
              i.fa.fa-google-plus.fa-fw
              span.network-name Google+
        a.btn.btn-circle-black.page-scroll(href='#intro')
              i.glyphicon.glyphicon-chevron-up