//
  File:  Fete/app_server/views/sign-up.jade
  Joel Cruz, UMass Lowell Computer Science, jcruz@student.uml.edu
  Copyright (c) 2016 by Joel Cruz.  All rights reserved.  
  May be freely copied or excerpted for educational purposes with credit to the author.
  updated by JC on March 27, 2016
  
extends layout
block append head
  link(rel='stylesheet', href='/stylesheets/datepicker.css')
  script(src='/javascripts/dateHandler.js')
block content
  #searchPanel
    .col-md-12
      .panel.with-nav-tabs.panel-default
        .panel-heading2
          ul.nav.nav-tabs#tabs
            li.active
              a(href='#tab1default', data-toggle='tab') Quick
            li
              a(href='#tab2default', data-toggle='tab') Advanced
        .panel-body
          .tab-content
            #tab1default.tab-pane.fade.in.active
              .col-md-8.col-md-offset-2
                .input-group
                  input#searchTerm.form-control(type='text', placeholder='Search for...', name='searchTerm', value='<?php echo $value; ?>', required='')
                  span.input-group-btn
                    button.btn.btn-default(type='submit', name='action')
                      span.glyphicon.glyphicon-search
                      |  Search
              // /input-group
            #tab2default.tab-pane.fade
              .col-md-8.col-md-offset-2
                .input-group
                  input#searchTerm.form-control(type='text', placeholder='Search for...', name='searchTerm', value='<?php echo $value; ?>', required='')
                  span.input-group-btn
                    button.btn.btn-default(type='submit', name='action')
                      span.glyphicon.glyphicon-search
                      |  Search
              .col-md-8.col-md-offset-2    
                .input-group#blackText
                  input(type='checkbox', name='privateSearch') 
                  | &nbsp Private &nbsp    
                  input(type='checkbox', name='publicSearch') 
                  | &nbsp Public &nbsp   
              .col-md-8.col-md-offset-2
                .input-group#blackText
                  |Date  
                  input#datePicker(type='text')
              .col-md-8.col-md-offset-2
                .input-group#blackText
                  |Time
                  input#datePicker(type='text')
              .col-md-4.col-md-offset-2
                .input-group#blackText
                  button.btn.btn-default(type='submit', 
                  name='action')
                    span.glyphicon.glyphicon-search
                    |  Search
              .col-md-4
                .input-group#blackText
                  button.btn.btn-default(type='submit', 
                  name='action')
                    span.glyphicon.glyphicon-ban-circle
                    |  Reset Fields
   
                    
              // /input-group

